<mapper namespace = "com.solvd.OnlineShop.DAO.IAccountDAO">
    <resultMap type = "com.solvd.OnlineShop.bin.Account"
               id= "AccountResultMap"   autoMapping="false">
        <id column="id" property="id" />
        <result column = "balance" property = "balance"/>
        <result column = "cbu" property = "cbu"/>

    </resultMap>


    <insert id="saveEntity" useGeneratedKeys="true" keyProperty="true">
        <![CDATA[
            Insert into Accounts (balance,cbu) values (#{account.balance},#{account.cbu})
        ]]>
    </insert>
    <update id="updateEntity">
        <![CDATA[
            Update Accounts set balance=${account.balance},cbu=${account.cbu} where id=${account.id}
        ]]>
    </update>
    <delete id="removeEntity">
        <![CDATA[
            Delete from Accounts where id=${account.id}
        ]]>
    </delete>
    <select id="getEntityById" resultMap="AccountResultMap">
        <![CDATA[
            Select * from Accounts where id=${account.id}
        ]]>
    </select>

</mapper>
