<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.solvd.dao.ICardDAO">
    <resultMap type="com.solvd.bin.Card"
               id="CardResultMap" autoMapping="false">
        <id column="id" property="id"/>
        <result column="number" property="number"/>

    </resultMap>

    <insert id="saveEntity" useGeneratedKeys="true" keyProperty="true">
        Insert into Cards (id,number) values (#{entity.id},#{entity.number})
    </insert>

    <update id="updateEntity">
        Update Cards set balance=#{entity.id},cbu=#{entity.number} where id=#{entity.id}
    </update>

    <delete id="removeEntity">
        Delete from Cards where idCards=${id}
    </delete>

    <select id="getEntityById" resultMap="CardResultMap">
        Select * from Cards where idCards=${id}
    </select>
</mapper>
