<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "com.solvd.dao.IPaymentDAO">
    <resultMap type = "com.solvd.bin.Payment"
               id= "PaymentResultMap"   autoMapping="false">
        <id column="id" property="id" />
        <result column = "money" property = "money"/>
        <result column = "place" property = "place"/>
    </resultMap>

    <insert id="saveEntity" useGeneratedKeys="true" keyProperty="true">
        Insert into Payments (money,place) values (#{entity.money},#{entity.time})
    </insert>

    <update id="updateEntity">
        Update Payments set money=#{entity.money},place=#{entity.place} where idPayments=#{entity.id}
    </update>

    <delete id="removeEntity">
        Delete from Payments where idPayments=${id}
    </delete>

    <select id="getEntityById" resultMap="PaymentResultMap">
        Select * from Payments where idPayments=${id}
    </select>

</mapper>