<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <properties resource="db.properties"/>

    <environments default = "development">

    <environment id = "development">
        <transactionManager type = "JDBC"/>
        <dataSource type = "POOLED">
            <property name = "driver" value = "com.mysql.jdbc.Driver"/>
            <property name = "url" value = "jdbc:mysql://localhost:3306/details"/>
            <property name = "username" value = "root"/>
            <property name = "password" value = "password"/>
        </dataSource>
    </environment>
    </environments>

    <mappers>
        <mapper namespace = "com.solvd.DAO.IAccountDAO"/>
        <resultMap type="com.solvd.bin.Account"
                   id="AccountResultMap" autoMapping="false"/>
        <id column="id" property="id"/>
        <result column="email" property="email"/>
        <association property="license" resultMap="com.solvd.DAO.IPaymentDAO.LicenseResultMap"/>
        <collection property="cards"
                    resultMap="com.solvd.DAO.ICardDAO.CardResultMap"/>

        <insert id="SaveEntity"
                useGeneratedKey="true" keyProperty="id"/>
    </mappers>


</configuration>